mqtt:
  enabled: true
  host: mosquitto

detectors:
  cpu1:
    type: cpu

objects:
  track:
    - person

cameras:
  front_gate_cam:
    ffmpeg:
      inputs:
        - path: rtsp://rtsp:12345678@192.168.1.48:554/av_stream/ch0
          roles:
            - detect
            - record
    detect:
      enabled: false
detect:
  enabled: true
version: 0.16-0
